.nav{
    position: fixed;
    width:90vw;
    height: 10vh;
    background-color: black;
    top: 0px;
    margin-left: 20%;
    z-index: 3;
}

.navContain{
    margin-top: 4%;
    margin-left: 4%;
}

.navLink{
    display: inline;
    padding-right: 2%;
    padding-left: 5%;
}