.player-container{
  height: 100px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  margin-bottom: 1px;
  z-index: 2;
}

.songData{
  float: left;
  width: 30px;
  height: 70px;
  display: block;
  white-space: normal;
  animation: floatText 5s infinite alternate ease-in-out;
}


.player{
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgba(21, 5, 5, .9);
  padding-top: 2%;
  padding-right: 2px;
}

.player > a {
  height: 100%;
  padding-top: 1.5%;
  
  margin-left: 20px;
  padding-right: 5px;
  float: left;
  text-align: center;
  color: white;
  /* border: solid white 2px;
  border-radius: 50%; */
}

.player > a:hover{
  color: rgb(8, 34, 77);
}

.imageContain{
  height: 100%;
  padding-right: 1%;
  margin-left: 2%;
  float: left;
}
.playerImage{
  height: 80%;
}

.progress{
  /* position: absolute; */
  top: 50px;
  left: 290px;
  height: 50px;
  width: 50vw;
  margin: auto;
  background: rgb(57, 42, 42);
  right: 90px;
  bottom: 620px;
  box-sizing: border-box
  padding 0 5px;
  cursor: pointer
}

.timePlayerContain{
  display: inline-flex;
  width: 60%;
}

.progress > .bar{
  /* position: absolute; */
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.progress > .bar > div {
  /* position: absolute; */
  left: 0;
  top: 0;
  height: 50px;
  bottom: 0;
  width: 50%;
  background: purple;
}

.currentTime{
  /* position: absolute; */
  float: left;
  top: 55px;
  left: 245px;
  color: white;
  padding: 32px;
}

.timeRemaining{
  /* position: absolute; */
  float: left;
  right: 40px;
  padding: 32px;
  top: 55px;
  color: white;
}

.volumeIcon{
  height: 100%;
  padding-top: 4.2%;
  margin-left: 20px;
  padding-right: 5px;
  float: left;
  text-align: center;
  color: white;
  cursor: pointer
}

