.player{
  height: 80px;
  width: 100%;
  background-color: rgb(80, 60, 60);
  padding-top: 2%;
}

.player > a {
  height: 100%;
  padding-top: 1.5%;
  padding-right: 15px;
  float: left;
  text-align: center;
  color: white;
  /* border: solid white 2px;
  border-radius: 50%; */
}

.player > a:hover{
  color: rgb(8, 34, 77);
}

.imageContain{
  height: 100%;
  padding-right: 5%;
  margin-left: 2%;
  float: left;
}
.playerImage{
  height: 80%;
}

.progress{
  position: absolute;
  top: 34px;
  left: 290px;
  background: rgb(18, 18, 18);
  right: 90px;
  bottom: 635px;
  box-sizing: border-box
  padding 0 5px;
  cursor: pointer
}

.progress > .bar{
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.progress > .bar > div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: white;
}

.currentTime{
  position: absolute;
  float: left;
  top: 40px;
  left: 245px;
  color: white;
}

.timeRemaining{
  position: absolute;
  float: right;
  right: 40px;
  top: 40px;
  color: white;
}

